@font-face {
  font-family: 'Open Sans Condensed';
  src: local('Open Sans Condensed'),
  url('assets/fonts/OpenSans-CondBold.ttf'),
  url('assets/fonts/OpenSans-CondLightItalic.ttf'),
  url('assets/fonts/OpenSans-CondLight.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
  text-decoration: none;
}